.brand-link {
    text-decoration: none;
}
.brand-link span {
    font-weight: 700;
}

.small-box {
    /* height: ; */
}
.image__wrapper {
    text-align: center;
}

/* .image__wrapper img{
    width: 110px;
    
} */

.sidebar-admin__info p{
    width: 100%;
    text-wrap: wrap;
    margin-bottom: 0;
}